
.azul{
	background-color:#319EA1 !important;
}
#amarillo{
	background-color: #FACC2E !important;
}
.blanco{
	color:white !important;
}
.color{
	color:#FACC2E; 
}
#azul{
    background-color:#319EA1 !important;	
}
